*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 20px;
}

i{
    margin: 30px;
}

i.active{
    color: blue;
}
